:root {
  --Text: #000502;
  --Background: #d8fde3;
  --Primary: #fa9ee0;
  --Secondary: #fcdccf;
  --Accent: #f20db1;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--Background);
  color: var(--Text);
}
.gallery-wrapper {
  /* width: 1200px;*/
  margin: 0 auto;
}
.food-gallery {
  text-align: center;
  font-size: 35px;
  background: #000502;
  background: linear-gradient(
    to bottom left,
    #000502 0%,
    #fcdccf 37%,
    #f20db1 77%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image_rice {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  /*margin-left: 10px;*/
}
h4 {
  font-size: 16px;
  text-align: center;
}
.image_soup {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  /*margin-left: 10px;*/
}
.image_spaghetti {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  /*margin-left: 10px;*/
}
.image_plantain {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  /*margin-left: 10px;*/
}
.image_friedrice {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  /*margin-left: 10px;*/
}
.card {
  background-color: var(--Secondary);
}
.image_gizzard {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  /*margin-left: 10px;*/
}
.image-soup1 {
  width: 180px;
  height: 200px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-soup2 {
  width: 130px;
  height: 200px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-soup3 {
  width: 130px;
  height: 200px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-soup4 {
  width: 130px;
  height: 200px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-soup5 {
  width: 130px;
  height: 200px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-soup6 {
  width: 130px;
  height: 200px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-pastries1 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-pastries2 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-pastries3 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-pastries4 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-pastries5 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-pastries6 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-starter1 {
  width: 180px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
  height: 150px;
}
.image-starter2 {
  width: 200px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-starter3 {
  width: 180px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-starter4 {
  width: 180px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-starter5 {
  width: 170px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
.image-starter6 {
  width: 150px;
  height: 150px;
  border: 3px solid var(--Accent);
  border-radius: 10px;
  margin-left: 0px;
}
#food,
#soup-gallery,
#pastries,
#other-foods {
  text-align: center;
  font-size: 28px;
}
h6 {
  margin-right: 5px;
}
.card img {
  width: 12.5rem;
}
.card {
  width: 12.5rem;
}

@media screen and (max-width: 780px) {
  .col-2 {
    width: 100%;
    /*margin: 30px auto;*/
    align-items: center;
  }
  .card {
    visibility: hidden;
  }
  img {
    visibility: visible;
  }
  .gallery-wrapper {
    align-items: center;
    margin: 10px auto;
  }

  .image_friedrice,
  .image_gizzard,
  .image_plantain,
  .image_rice,
  .image_soup,
  .image_spaghetti {
    /*width: 500px;
    height: 200px;*/
    margin: auto 130px;
  }
  .image-soup1,
  .image-soup2,
  .image-soup3,
  .image-soup4,
  .image-soup5,
  .image-soup6 {
    /*width: 300px;
    height: 250px;*/
    margin: auto 125px;
  }
  .image-pastries1,
  .image-pastries2,
  .image-pastries3,
  .image-pastries4,
  .image-pastries5,
  .image-pastries6 {
    margin: auto 130px;
    /*width: 300px;
    height: 200px;*/
  }
  .image-starter1,
  .image-starter2,
  .image-starter3,
  .image-starter4,
  .image-starter5,
  .image-starter6 {
    margin: auto 130px;
    /*width: 300px;
    height: 200px;*/
  }
  #food {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .image_friedrice,
  .image_gizzard,
  .image_plantain,
  .image_rice,
  .image_soup,
  .image_spaghetti {
    width: 150px;
    height: 100px;
    margin: auto 115px;
  }
  .image-soup1,
  .image-soup2,
  .image-soup3,
  .image-soup4,
  .image-soup5,
  .image-soup6 {
    width: 150px;
    height: 100px;
    margin: auto 85px;
  }
  .image-pastries1,
  .image-pastries2,
  .image-pastries3,
  .image-pastries4,
  .image-pastries5,
  .image-pastries6 {
    margin: auto 95px;
  }
  .image-starter1,
  .image-starter2,
  .image-starter3,
  .image-starter4,
  .image-starter5,
  .image-starter6 {
    margin: auto 95px;
    width: 150px;
    height: 100px;
  }
}
